@import url('https://fonts.google.com/specimen/Plus+Jakarta+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    background: hsl(228, 71%, 99%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: 500;
    color: hsl(224, 21%, 14%);
    /* height: 100vh;
    width: 100vw; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

body main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    /* border: solid black; */
    max-width: 796px;
    padding: 7px;
}

.notifWrapper {
    display: flex;
    justify-content: space-between;
    margin: 35px;
    align-items: center;
}

header h1{
    font-size: 20px;
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.msgsCount {
    /* margin-left: 10px; */
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    padding: 0.16px 8px;
    border-radius: 5px; /* ilalagay ko to once may count na sa script */
}

.msgsWrapper {
    margin: 10px 25px;
    border-radius: 10px;
    line-height: 1.5;
    padding: 10px;
    /* border: solid violet; */
    /* cursor: pointer; */
}

 .msgsWrapper:nth-child(1){ /* may problema dito hindi nakikita */
    margin-top: 0;
}

img {
    max-width: 50%;
    height: 50px;
    margin: 10px 10px;
}

.imgAndMsgs{
    display:flex;
}

.textWrap {
    /* flex-direction: column; */
    margin-top: 10px;
}

.name{
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}

.post{
   color:hsl(219, 12%, 42%);
   font-weight: 600;
}

.chess{
    color:hsl(219, 85%, 26%);
   font-weight: 600;
}
.action{
    color: hsl(219, 12%, 42%);
}

.time{
    color: hsl(219, 14%, 63%);
}


.privateMsg{
    border: solid 1px hsl(207, 18%, 90%);
    border-radius: 5px;
    margin-top: 8px;
    padding: 16px;
    color: hsl(219, 12%, 42%);
    min-width: 600px;
}

.dotIcon {
    font-weight: 900;
    font-size: 9px;
    margin: 0px 7px;
    color: hsl(1, 90%, 64%); /* color for active */
    /* color: hsl(0, 0%, 100%); */ /*color if not active */
} 

.sec-img {
    margin: 10px 0px;
    padding-left: 195px;
  }

.unread{
 background-color: hsl(210, 60%, 98%);
}

  
/* Start active while clicked*/
.mark:active, .name:active, .post:active{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.mark:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

/* .msgsWrapper:active{
    background-color: hsl(211, 68%, 94%); 
    cursor: pointer;
}*/

.privateMsg:hover{
    background-color: hsl(205, 33%, 90%);   
    cursor: pointer;
} 

/* .iconClass:active{
     color: hsl(1, 90%, 64%);} /* mali, kase kelangan pa ma-click yung mismong bilog bago mag red/active */

/* End active */

footer{
    font-size: .7rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
footer a{
    color: hsl(219, 85%, 26%);
}
footer a:hover{
    text-decoration: none;
}

/* Start mobile design */
@media only screen and (max-width: 600px) {
    .container {
        width: 94%;
    }

   .notifWrapper {
        font-size: 14px;
        margin: 25px 0px;
    }

    .msgsCount {
        margin-left: -3px;
    }

    .msgsWrapper {
        margin: 5px 5px;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        height: 40px;
        margin: 5px 5px;
    }

    .textWrap {
        font-size: 12px;
        margin-top: 0px;
    }

    .privateMsg{
        min-width: 225px;
    }

    .sec-img {
        margin: 0px 5px 0px 0%;
        padding-left: 0px;
      }

}
/* End mobile design */

.blue{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}