@import url('https://fonts.google.com/specimen/Outfit');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit' , sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    background: hsl(212, 45%, 89%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height: 490px;
    width: 305px;
    margin: 15px;
}

.wrapper{
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1{
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

p:nth-child(3){
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}


/* @media only screen and (max-width: 600px) {
    body {
        width: 54vw;
    }
  } */